body,
html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  line-height: 1.8em;
  color: #666;
}
.sec1,
.sec2,
.sec3 {
  position: relative;
  opacity: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.sec1 {
  background-image: url("/asset/bg1.jpg");
  min-height: 100%;
}
.sec2 {
  background-image: url("/asset/bg2.jpg");
  min-height: 400px;
}
.sec3 {
  background-image: url("/asset/bg3.jpg");
  min-height: 400px;
}
.section {
  padding: 20px;
}
.section-light {
  background-color: floralwhite;
  color: rgb(77, 77, 77);
}
.section-dark {
  background-color: rgb(77, 77, 77);
  color: floralwhite;
}
.border {
  background-color: rgb(58, 58, 58);
  border-radius: 10px;
  color: azure;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 5px;
  font-variant-caps: small-caps;
}
.ptext {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
}
